<% if logged_in? %>
  <div class="panel panel-heading">
    <div class="center">
      <h1><%= "E-Learning" %></h1>
    </div>
  </div>
  <div class="col-md-12">
    <div class="center">
      <%= link_to "Word list", words_path, class: "btn btn-lg btn-primary" %>
      <%= link_to "Start lesson", categories_path, class: "btn btn-lg btn-success" %>
    </div>
  </div>
  <div class="clearfix"></div>
  <br/>
  <div>
    <%= render "users/activities" %>
  </div>
<% else %>
  <div class="panel panel-heading">
    <div class="center">
      <h1><%= "E-Learning" %></h1>
    </div>
  </div>
  <div class="panel-body">
    <div class="center">
      <p> Team : Mu mai dinh </p>
      <p> Mangusidan</p>
      <br>
      <br>
      <br>
      <p> Click this button if you dont have an account</p>
      <%= link_to "Signup now!", signup_path, class: "btn btn-lg btn-primary" %>
    </div>
  </div>
<% end %>
